<h1>All Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article), class: 'article_title' %>
      (Tags: <%= tag_links(article.tags) %>)
      <%= link_to "edit", edit_article_path(article) %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Create a New Article", new_article_path, class: 'new_article' %></p>
